<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <div class="content is-size-3">
        <h1><%= heading %></h1>
      </div>
    </div>

    <% if comment.errors.any? %>
      <div class="column is-6 is-offset-3">
        <article class="message is-danger">
          <div class="message-body">
            <p><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</p>
            <br>
            <p>
            <% comment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </p>
          </div>
        </article>
      </div>
    <% end %>

    <div class="column is-6 is-offset-3">
      <article class="media">
        <div class="media-content">
          <%= form_with model: [article, comment], local: true do |form| %>
            <div class="field">
              <p class="control">
                  <%= form.text_area :body, class: "textarea", placeholder: "Add a comment..." %>
              </p>
            </div>
            <nav class="level">
              <div class="level-left">
              </div>
              <div class="level-right">
                <div class="level-item">
                  <%= form.submit "Save", class: 'button is-info' %>
                </div>
                <div class="level-item">
                  <%= link_to "Cancel", article_path(article), class: 'button is-light' %>
                </div>
              </div>
            </nav>
          <% end %>
        </div>
      </article>
    </div>
  </div>
</div>
