<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link_to "My Blog", root_path, class: "navbar-item is-size-1"%>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if signed_in? %>
              <%= link_to "New Article", new_article_path, class: "button is-primary has-text-weight-bold" %>
              <%= link_to "Log Out", sign_out_path, method: :delete, class: "button is-primary has-text-weight-bold" %>
            <% else %>
              <%= link_to "Log In", sign_in_path, class: "button is-primary has-text-weight-bold" %>
              <%= link_to "Sign Up", sign_up_path, class: "button is-primary has-text-weight-bold" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
